html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Spartan', sans-serif;
    background-color: rgb(230, 225, 225);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    margin-top: 5rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Spartan', sans-serif;
}

*, *:before, *:after {
	box-sizing:     border-box;
}

html {
	font-size: 16px;
	@media all and (max-width: 768px)
	{
		font-size: 12px;
	}
}
.container{
    width: 600px;
    margin: 0 auto;
}
.main{
    display: grid;
    grid-auto-rows: 50px;
    /* grid-auto-columns: 50px;  */
    padding: 0 2rem;
    padding-top: 0;
    margin-top: 1rem;
    background-color: rgb(240, 237, 234);
    grid-template-areas: '. . . n n n . . .'
                         'i i . n n n . d d'
                         'i i . . . . . d d'
                         'i i . r r r . d d'
                         '. . . r r r . . .';
    border: 2px solid black;


}    
.inc-btn{
    text-align: center;
    align-self: center;
    grid-area: i;
    font-size: 4rem;
    cursor: pointer;
    color: rgb(64, 212, 64);
    background-color: #ddd;
    border-radius: 8px;

}
.dec-btn{
    text-align: center;
    align-self: center;
    grid-area: d;
    font-size: 4rem;
    cursor: pointer;
    color: rgb(219, 19, 19);
    background-color: #ddd;
     border-radius: 8px;
  
}
.res-btn{
    text-align: center;
    align-self: center;
    grid-area: r;
    font-size: 4rem;
    cursor: pointer;
    background-color: rgb(87, 68, 68);
    color: #fff;
    border-radius: 8px;
    
}
.num{
    text-align: center;
    align-self: center;
    grid-area: n;
    font-size: 2.5rem;
    background-color: rgb(124, 107, 107);
    border-radius: 8px;
    font-weight: 600;
    padding: 1.2rem 1rem 1rem 1rem;
  
}